
* {
  list-style: none;
  font-family: "Comic Neue", "Courier New", Courier, monospace;
  border-radius: 1%;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 1rem 2rem;
}

h2 {
  text-align: left;
  margin: 1rem 2rem;
}

#welcome {
  margin: 1rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome p {
  max-width: 100%;
  text-align: justify;
  text-justify: inter-word;
}

.navBar ul {
  display: flex;
}

.navBar ul li {
  margin: 1rem 0;
  padding: 0.3rem 2rem;
}

.App {
  text-align: center;
}

.navBar ul li:nth-child(2) {
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.active-link {
  color: purple;
}
